{% extends 'base2.html' %}
{% load static %}
{% block content %}

<!-- Board -->
<section class="projects-section bg-light" id="board">
<div class="container">
  <h1 class="text-center">장애인 불법주차 신고</h1>

  <hr>

{% for article in articles %}

<div class="container" style="width:350px; height: 500px; margin:0px; display: inline-block;">
  <h2>{{ article.title }}</h2>
  <p>{{ article.updated_at | date:'Y-m-d G:i' }} 조회수: {{ article.viewcnt }} 댓글: <span style="color:red;">{{ article.cmtcnt}}</span></p>
  <div class="card" style="width:300px; ">
    <img class="card-img-top" src="/static/media/{{ article.reportPhoto }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{ article.content }}</h4>
        <p class="card-text">위치: {{ article.reportAddress }}</p>
      <p class="card-text">{{ article.awriter.nickName }}</p>
      <a href="{% url 'detail' 'R' article.pk %}#board" class="btn btn-primary">상세보기</a>
    </div>
  </div>
  <br>
</div>

{% endfor %}

<h6 class="text-center">
    {% if articles.has_previous %}
        <a href="?page={{articles.number|add:-1}}#board">이전페이지</a>
    {% endif %}
        Page {{articles.number}} / {{ articles.paginator.num_pages}}
    {% if articles.has_next %}
        <a href="?page={{articles.number|add:+1}}#board">다음페이지</a>
    {% endif %}
</h6>

    <div>
        <div id="searchdiv" style=" display: inline-block">
            <select name="searchtype">
                <option value="search1">별명</option>
                <option value="search2">작성내용</option>
            </select>
            <input type="text" name="keyword" required>
            <button class="btn btn-primary" onclick="processSearch() ">검색</button>
        </div>
        <div style="float:right; display: inline-block"><a href="{% url 'create' 'R' %}"><img style="float:left; " width="22" src="/static/assets/img/boardwrite2.png" ><h5 style="float:right;">글쓰기</h5></a></div>
     </div>


</div>
</section>

{% endblock %}

{% block javascript %}
    function processSearch() {
        if ($('[name="keyword"]').val() == '') {
            alert("검색어를 넣어주세요")
        } else {
            location.href = '/fordisapp/'+$('[name="searchtype"]').val()+'/R/'+$('[name="keyword"]').val();
        }
    }
{% endblock %}