{% extends 'base2.html' %}

{% block content %}
<!-- Board -->
<section class="projects-section bg-light" id="board">
<div class="container">

  <h1>게시글 수정하기</h1>
  <form action="{% url 'update' btype article.pk %}" method="POST">
    {% csrf_token %}
    <p>글쓴이 : {{ article.awriter.nickName }}</p>
{% if btype == 'R' %}
    <p>이미지 : </p> <img id="image_section" width="100" src="{{ article.awriter.photo.url }}" alt="" />
    <p>수정 시각 : {{ article.updated_at }}</p>
{% endif %}
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" class="form-control" id="title"  placeholder="글 제목을 입력하세요." name="title" required value="{{ article.title }}">
    </div>
    <div class="form-group">
      <label for="content">내용:</label>
      <textarea class="form-control" id="content" name="content" rows="5" placeholder="내용을 입력해 주세요." required>{{ article.content }}</textarea>
    </div>
    <button class="btn btn-primary">작성</button>
  </form>

  </div>
</section>
{% endblock %}

{% block javascript %}
$(document).ready(function () {
    $('html, body').animate({
        scrollTop: $('#board').offset().top
    }, 'fast'); //slow
});
{% endblock %}