{% extends 'base2.html' %}
{% load static %}

{% block content %}

<section class="projects-section bg-light" id="board">
<div class="container">

    <h1> Q & A 작성 </h1>

    <div>
        <form style = "text-align: center" method="post" action="{% url 'qnacreate' %}">
            {% csrf_token %}
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title"  placeholder="글 제목을 입력하세요." name="title" required>
                </div>
                <div class="form-group">
                    <label for="content">내용:</label>
                    <textarea class="form-control" id="content" name="content" rows="5" placeholder="내용을 입력해 주세요." required></textarea>
                </div>
                    <button type="submit" class="btn btn-primary" value="Submit">등록</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'qnaread' %}'">목록</button>
        </form>
    </div>
</div>
</section>
{% endblock %}